{  
    margin: 0;  
    padding: 0;  
}

header, footer, aside, nav, article {  
    display: block;  
}

body {
        background-color: #ffffff;
        color:#333333;
        font: normal 100.1%/141%  Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: .875em;
        line-height: 1.6;
        margin: 0 auto;  
        width: 800px;
        background: #f0f0f0;
}

pre { font-family: monospace; color: #ffffff; background-color: #000000; }
.lnr { color: #ffff00; }
.Special { color: #ff40ff; }
.Statement { color: #ffff00; }
.Identifier { color: #00ffff; }
.Constant { color: #ff6060; }
.PreProc { color: #ff40ff; }
.Comment { color: #8080ff; }

h1 {  
        font-size: 56px;  
        line-height: 2px;  
        padding: 2px 0;  
}  
h2 {  
        font-size: 28px;  
        line-height: 0px;
        padding: 2px 0;  
}  
h3 {  
        font-size: 18px;  
        line-height: 11px;  
        padding: 1px 0;  
}

hr {
}

hr.shorty {
        width: 20px;
        align: left;
}

p {
}

p.small {
        font-size:85%;
}
p.smallcenter {
        font-size:85%;
        text-align:center;
}

p.tagline {
        padding: 10px 0;
}

.blogpost {
        margin-bottom: 1em;
        overflow: hidden;
}

.postdate {
        font: bold 1.2em monospace, Courier, Lucida Console, sans-serif;
}

img {
        border:0px;
}
img.top {
        vertical-align:text-top;
}
img.bottom {
        vertical-align:text-bottom;
}
img.middle {
        vertical-align:middle;
}

#content {  
        display: table;  
}  
  
#maincontent {  
        display: table-cell;  
        width: 620px;  
        padding-right: 22px;  
}  
  
aside {  
        display: table-cell;  
        width: 150px;
}  

a:link {
        color:#000000;
        text-decoration:underline;
}
a:visited {
        color:#000000;
        text-decoration:underline;
}
a:active {
        color:#000000;
        text-decoration:underline;
}
a:hover {
        color:#3d3d5c;
        text-decoration:underline;
}

a.title:link {
        color:#000000;
        text-decoration:none;
}

a.title:visited {
        color:#000000;
        text-decoration:none;
}

a.title:active {
        color:#000000;
        text-decoration:none;
}

a.title:hover {
        color:#3d3d5c;
        text-decoration:none;
}

nav ul li {  
        float: left;  
}

textarea {
        resize: none;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: .3em;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
}

input {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        font: 1em  Arial, "Helvetica Neue", Helvetica, sans-serif;
/*    font-family: monospace, Courier, Lucida Console, sans-serif;*/
        padding: .3em;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
}
/*
button {
        font: bold 1.5em  Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 10px;
        padding: 5px;
}*/

/*------------------------------
=COMMENTS - thanks to http://net.tutsplus.com/tutorials/html-css-techniques/html-5-and-css-3-the-techniques-youll-soon-be-using/
------------------------------*/

#comments {
        margin-top: 21px;
        padding-top: 22px;
        border-top: 1px solid #d7d7d7;
}

#comments article {
        display: table;
        padding: 2px;
}
/*
#comments article:nth-child(odd) {
        padding: 21px;
        background: #E3E3E3;
        border: 1px solid #d7d7d7;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
}
*/      
#comments article header {
        display: table-cell;
        width: 200px;
        padding-right: 22px;
}
                
#comments article header a {
        display: block;
        font-weight: bold;
        color: #000;
}
                        
#comments article header a:hover {
        text-decoration: none;
}
                
#comments article p {
        padding: 0;
}

