$def with (session)
$var title: Notification
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

<h3>About</h3>

<p>This is a blog software made by Oscar Fr&ouml;berg using <a href="http://webpy.org/">web.py</a> and <a href="https://www.mozilla.org/en-US/persona/">Mozilla Persona.</a></p>

<p>Source code on <a href="https://bitbucket.org/oscarfroberg/blog-webpy-persona" target="_blank">Bitbucket</a>
