$def with (session, postid, msg)
$var title: Notification
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

$msg

<form method="post">
<input type="submit" name="btn" value="Cancel"><input type="submit" name="btn" value="Yes">
</form>
