$def with (session, posttitle, content, url, datetime, msg)
$var title: Post editor
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

$if msg:
    <p>$msg<p>

<form method="post"><p>
<label for="title">Title</label><br><input type="textbox" name="title" value="$posttitle"><br>
<label for="content">Post</label><br><textarea rows="20" cols="70" name="content">$content</textarea><br>
<label for="url">URL</url><br><input type="textbox" name="url" value="$url">(URL and date will be generated automatically)<br> 
<label for="datetime">Date/time</label><br><input type="textbox" name="datetime" value="$datetime"><br>
<br>
<input type="submit" name="save" value="Save"><input type="submit" name="publish" value="Publish"><br>
<i>For now, saving an already published post will un-publish it and save it as a draft. This will be changed eventually.</i>
</p></form>
