$def with (session, msg)
$var title: Notification
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

<h3>$msg</h3>

<p><a href="/">Return to front page</a></p>
