$def with (session, msg)
$var title: Notification
$var admin: $session.admin
$var email: $session.email
$var blogtitle: $session.blogtitle
$var blogtagline: $session.blogtagline

<h3>Success!</h3>

<p>$:msg</p>
